/*
 * Resets and initial definitions
 */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body, html {
  background: #fff;
  font-family: system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1vw;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  /* Sets overflowing background color when scrolled past the page in
	  MacOS or in iOS. */
  background: red;
  position: relative;
  z-index: -36;
}

a, input, label, textarea {
  appearance: none;
  font-family: system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1vw;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-appearance: none;
	-moz-appearance: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
} */


/*
 * Landing page
 */
.landing {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/*
 * Landing page headers
 */
.headers {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.headers > h1,
.headers > h2 {
  background: black;
  color: white;
  display: inline-block;
  font-size: 4.5vw;
  margin-block-start: 0.7vh;
  margin-block-end: 0.7vh;
  padding: 1vw 2vw;
}

.headers > h2 {
  font-size: 3.75vw;
}

/*
 * Landing start + signup form
 */
.start {
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
              0 4px 2px rgba(0,0,0,0.09), 
              0 8px 4px rgba(0,0,0,0.09), 
              0 16px 8px rgba(0,0,0,0.09),
              0 32px 16px rgba(0,0,0,0.09);
  margin: 34vh 2vw 0vh 2vw;
  padding: 1.4vh 3vw;
}

.signup > input, 
.signup > label,
.signup > textarea {
  font-size: 16px; /* relative? */
  width: 100%;
}

.signup-input {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 0.4vh 0;
  padding: 1vh 1vw;
}

/*
  order matters for border: none;
  define .signup-button after .signup-input
*/
.signup-button {
  background: #f5163b;
  border: none;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: #fff;
  cursor: pointer;
  letter-spacing: .025em;
  text-transform: uppercase;
}

/* TODO hover for desktop needs a different animation
  one that pauses on the down portion
*/
.signup-button:hover {
  animation: button-tap 0.2s ease-in-out;
}

/*
  order matters for tap animation
  define :active after :hover
*/
.signup-button:active {
  animation: none;
}

@keyframes button-tap {
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}

.file span {
  display: block;
  text-align: center;
}

.file-label {
  margin: 0 0 0.4vh 0;
  word-spacing: 0.2vw;
}

.snap-photo {
  display: inline-block;
  font-size: 16px;
  margin: 0.8vh 0;
  padding: 0.8vh 0;
  text-align: center;
  width: 100%;
}

.snap-photo:focus {
  outline: none;
}

.file a img {
  display: block;
  margin: 0 auto;
  max-height: 400px;
  max-width: 100%;
  padding-top: 0.7rem;
}

.file-input {
  margin: -100vh 0 0 0;
  opacity: 0;
  position: absolute;
  padding: 0;
  right: 0;
  top: 0;
  z-index: 0;
}

.start-button {
  font-weight: 600;
}

/*
 * Landing page background image
 */
.landing > picture > img {
  position: absolute; /* to place under content */
  z-index: -1;
}

@media (min-width: 0px) and (max-width: 249px) {
  .landing > picture > img {
    object-position: -2rem;
  }
}

@media (min-width: 250px) and (max-width: 280px) {
  .landing > picture > img {
    object-position: -11rem;
  }
}

@media (min-width: 281px) and (max-width: 320px) {
  .landing > picture > img {
    object-position: -8.5rem;
  }
}

@media (min-width: 321px) and (max-width: 360px) {
  .landing > picture > img {
    object-position: -8.5rem;
  }
}

@media (min-width: 361px) and (max-width: 375px) {
  .landing > picture > img {
    object-position: -33vw;
  }
}

@media (min-width: 376px) and (max-width: 412px) {
  .landing > picture > img {
    object-position: -28vw;
  }
}

@media (min-width: 413px) and (max-width: 450px) {
  .landing > picture > img {
    object-position: -7.5rem;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  .landing > picture > img {
    object-position: -7.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .landing > picture > img {
    object-position: -7rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .landing > picture > img {
    object-position: 0rem;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .landing > picture > img {
    object-position: 0rem;
  }
}